<div id="book-index">
	<div class="row">
		<div class="com-md-3 col-sm-3">
			<h3>You can win</h3>
			<%= image_tag('bookpic/image1.jpg') %>
			<%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
		</div>
		<div class="com-md-3 col-sm-3">
       <h3>Modern Talk</h3>
			 <%= image_tag('bookpic/image2.jpg') %>
			 <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
		</div>
		<div class="com-md-3 col-sm-3">
      <h3>We Can Do It</h3>
			<%= image_tag('bookpic/image3.jpg') %>
			<%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
		</div>
	</div>


	<div class="row">
		<div class="com-md-3 col-sm-3">
      <h3>The world of Abstract Art</h3>
			<%= image_tag('bookpic/image5.jpg') %>
			<%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
		</div>
		<div class="com-md-3 col-sm-3">
      <h3>Harry Potter</h3>
			<%= image_tag('bookpic/image2.jpg') %>
			<%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
		</div>
		<div class="com-md-3 col-sm-3">
      <h3>You can win</h3>
			<%= image_tag('bookpic/image1.jpg') %>
			<%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
		</div>
	</div>
</div>
