<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls=  "   navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
       </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
            <a class="nav-item nav-link active" href="<%= root_path(@home) %>"><span class="sr-only">(current)</span>Home</a><br/>
            <a class="nav-item nav-link" href="<%= about_path(@about) %>">About</a>
         </div>

        <div class="dropdown">
          <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Add new
          <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right">
             <li><a href="<%= new_book_path(@boook) %>"></a>Boook</li>
             <li><a href="<%= new_category_path(@category) %>"></a>Category</li>
             <li><a href="<%= new_author_path(@author) %>"></a>Author</li>
             <li><a href="<%= new_publisher_path(@publisher) %>"></a>Publisher</li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
